<%= form_for @trip, url: passenger_trip_path(@trip.passenger_id, @trip.id) do |f| %>
<%= f.select :rating, (1..5) %>
<%= f.submit %>

<% if @trip.errors.any? %>
<ul class="errors">
  <% @trip.errors.each do |field, message| %>
  <li>
    <strong><%= field.capitalize %>: </strong><%= message %>
  </li>
  <% end %>
</ul>
<% end %>

<%end%>
