<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <h1> <%= action_name %> </h1>
  <p>Please provide the following information to save your trip to our database:</p>

  <%= form_with model: @trip, class: "trip-form" do |f|%>

    <%= f.label :date %>
    <%= f.text_field :date%>

    <!-- #TODO Allow user to enter rating if it's blank -->
    <%= f.label :rating %>
    <%= f.text_field :rating%>

    <%= f.label :cost %>
    <%= f.text_field :cost%>

    <%= f.label :driver_id %>
    <%= f.select :driver_id, Driver.all.map{ |driv| [driv.name, driv.id] }.sort %>

  <%= f.label :passenger_id %>
    <%= f.select :passenger_id, Passenger.all.map{ |pass| [pass.name, pass.id] }.sort %>

    <%= f.submit button_title, class: "trip-button" %>
  <% end %>
</div>
