<%= form_with model: @trip, class: 'trip-form' do |f| %>

  <h3><%= form_with %></h3>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit action_type, class: "trip-form-submit-button" %>

<% end %>
