<h1>Edit a trip</h1>


<% if @trip.errors.messages.any? %>
<section class="form-errors">
  <h3>There were some problems. Please fix them.</h3>
  <ul>
    <% @trip.errors.messages.each do |field, problem_list| %>
    <% problem_list.each do |problem| %>
    <li>
      <strong><%= field %></strong>
      <%= problem %>
    </li>
    <% end %>
    <% end %>
  </ul>
</section>
<% end %>

<%= form_with model: @trip do |f| %>
<p>
  <%= f.label :date %>
  <%= f.text_field :date %>
</p>

<p>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
</p>

<p>
  <%= f.label :cost %>
  <%= f.text_field :cost %>
</p>

<p>
  <%= f.submit "Edit Trip", class: "submit-button" %>
</p>
<% end %>
