<h1>Editing Trip #<%= @trip.id %></h1>

<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @trip do |f| %>
      <%= f.label "Cost (in cents!)"%>
      <%= f.text_field :cost %>

      <%= f.label :date %>
      <%= f.text_field :date %>

      <%= f.label :driver %>
      <%= f.select :driver_id, Driver.all.order(:name).map {|d| [d.name, d.id] } %>

      <%= f.label :passenger %>
      <%= f.select :passenger_id, Passenger.all.order(:name).map {|p| [p.name, p.id] } %>

      <%= f.label :rating %>
      <%= f.select :rating, [1, 2, 3, 4, 5] %>

      <%= f.submit 'Save Trip Changes', class: "form-button" %>
    <% end %>
