<h2>Edit Trip</h2>
<br>
<%= form_with model: @trip do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <br>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <br>
  <%= f.label :cost %>
  <%= f.text_field :cost %>
  <br>
  <%= f.label :driver_id %>
  <%= f.text_field :driver_id %>
  <br>
  <%= f.label :passenger_id %>
  <%= f.text_field :passenger_id %>
  <br>
  <%= f.submit "Update Trip" %>
<% end %>
