<h1> Trip In Progress</h1>
<p> Requesting trip for <strong> <%= @passenger.name%></strong></p>
<ul>
  <li> You've been matched with:<strong> <%= @trip.driver.name%></strong></li>
  <li> Your Driver's Average Rating:<strong><%=@trip.driver.average_rating%></strong></li>
  <li> Trip Cost: $5</li>
  <li>  <%= form_with model: @trip do |f|%>
    <%= f.label :rating, "Your trips rating:"%>
    <%= f.select :rating, [1,2,3,4,5]%>
    <%= f.submit "End Trip" %>
    <%end%>
    </li>
</ul>
