<h1>Passenger Detail</h1>
<h1><%= @passenger.name %> (<%= @passenger.status.to_s.gsub("_", "-") %>)</h1>
<h2>Total Charged : <%= "$" + "%.2f" % @passenger.total_cost%></h2>
<% if @passenger.status == :available %>
  <%= link_to "Request a Ride", passenger_trips_path(@passenger.id), method: :post %>
<% end %>
<%= link_to "Edit", edit_passenger_path(@passenger.id) %>
<%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm: 'Are you sure you want to delete this trip?'} %>

<%= render partial: "layouts/personaltrips",
locals: {all_trips: @trips,
        } %>
