Trips: <% @trips.each do |trip|%>
<ul>
  <li><%= link_to "Trip #{trip.id}", trip_path(trip.id)%>
  <li> Trip Date: <%= trip.date%></li>
  <li> Passenger: <%= trip.passenger.name%></li>
  <li> Cost: <%= trip.cost/100%></li>
  <li> Rating:<%= trip.rating%></li>
</ul>
<%end%>
