<h1>Trips</h1>

<h2> <%=@user.name %> Trips </h2>

<h3><%= @user.name %></h3>


<% if @trips.first.passenger == @user %>
<%= link_to "Request Ride", passenger_trips_path(@user.id), method: :post %>
<%= link_to "Edit This Passenger", edit_passenger_path(@user.id) %>
  <% @trips.each do |t| %>
      <%= t.id %>
      <%= t.driver.name %>
      <%= t.cost %>
      <%= t.date %>
      <br />
  <% end %>

<% elsif @trips.first.driver == @user %>
  <%= link_to "Edit This Driver", edit_driver_path(@user.id) %>
  <br>
  <% if @user.status %>
    <%= "Available" %>
    <br>
    <% else %>
    <%= "Unavailable" %>
    <% end %>
  <br>
  <% @trips.each do |t| %>
    <%= t.cost %>
    <br>
    <%= t.passenger.name %>
    <br>
    <%= t.rating %>
    <br>
    <br>
    <br>
  <% end %>

<%= "Total Earnings" %>
<%= @user.total_earnings %>
<br />
<%= "Average Rating: " %>
<%= @user.average_rating %>

<% end %>
