<div class="container" role="main">
<div class="c1">
  <h1><%=link_to "Rideshare", home_path%></h1>
</div>
<div class="c2">
  <div class="dropdown">
    <button class="dropbtn">Drivers</button>
    <div class="dropdown-content">
      <%=link_to "View All", drivers_path%>
      <%=link_to "Add Driver", new_driver_path %>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Passengers</button>
    <div class="dropdown-content">
      <%=link_to "View All", passengers_path%>
      <%=link_to "Add Passenger", new_passenger_path%>
    </div>
  </div>
</div>
 <div class="c3">
   <%= link_to "(New trip)", new_trip_path %>
    <%=link_to "Return", request.referer.present? ? request.referer : home_path%>
 </div>
 <div class="c4">
   <h2>Trips</h2>
   <% @all_trips.each do |trip| %>
   <p>
     Id: <%= trip.id %> | Date: <%= trip.date %> | Cost: <%= trip.cost%> | Rating: <%= trip.rating%>
     <%= link_to "(View Details)", trip_path(trip.id) %>
     <%= link_to "Edit", edit_trip_path(trip.id) %>
     <%= link_to "[Delete]", trip_path(trip.id), method: :delete, data: { confirm: "Are you sure you want to delete the trip #{trip.date}?" } %>
   </p>
   <%end %>
   <%= will_paginate @all_trips, previous_label: h("<"), next_label: h(">") %>
 </div>
</div>
