<h2>In Trips View Template, index.html.erb</h2>

<%= link_to "Homepage", root_path %>



<% if @driver != nil %>
  <h2>Driver Information</h2>

  <strong>Name: <%= @driver.name %></strong>
  <br>
  <strong>Average Rating: <%= @driver.avg_rating %></strong>
  <br>
  <strong>Driver Earnings: <%= @driver.total_trip_earnings %></strong>
  <br>


  <h2>Driver Trips</h2>
  <%= render partial: 'trip_list' %>

<% else %>
  <h2>All Trips by All Drivers</h2>
  <%= render partial: 'trip_list' %>
<% end %>
