
<h1><%= @passenger.name %></h1>
<h2>Total Charged : <%= "$" + "%.2f" % @passenger.total_cost%></h2>

<%= link_to "Request a Ride", passenger_trips_path(@passenger.id), method: :post %>
<%= link_to "Edit", edit_passenger_path(@passenger.id) %>
<%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm: 'Are you sure you want to delete this passenger?'} %>


<div class="wrapper">

  <div class="table">

    <div class="row header">
      <div class="cell">
        Trip ID
      </div>
      <div class="cell">
        Date
      </div>
      <div class="cell">
        Driver
      </div>
      <div class="cell">
        Passenger
      </div>
      <div class="cell">
        Price
      </div>
      <div class="cell">
        Rating
      </div>

    </div>

<% @trips.each do |trip| %>

    <div class="row">
      <div class="cell" data-title="ID">
        <%= link_to "#{trip.id}", trip_path(trip.id) %>
      </div>
      <div class="cell" data-title="Date">
        <%= "#{trip.date}"%>
      </div>
      <div class="cell" data-title="Driver">
        <%= "#{trip.driver.name}"%>
      </div>
      <div class="cell" data-title="Passenger">
        <%= "#{trip.passenger.name}"%>
      </div>
      <div class="cell" data-title="Price">
        <%= "$" + "%.2f" % "#{trip.cost/100.0}" %>
      </div>
      <div class="cell" data-title="Rating">
        <%= "#{trip.rating}" %>
      </div>
    </div>
<%end%>


  </div>


</div>
