<div class="wrapper detail-pages">

  <h1 class ="index-header">Passenger Detail</h1>

<h1 class="user-name"><%= @passenger.name %></h1>
 <% if @passenger.status == :available %>
  <span class="dot_available"></span>
<% else %>
  <span class="dot_unavailable"></span>
<%end%>

<h3 class="detail-before-buttons">Total Charged : <%= "$" + "%.2f" % @passenger.total_cost%></h3>

    <%= form_with model: @passenger, url: passenger_trips_path(@passenger.id), method: :post, class: "form", id: "form1" do |f| %>
    <% if @passenger.status == :available %>
      <div class="submit request-ride">
        <%= f.submit "Request a Ride", id: "button-orange" %>
        <div class= "ease"></div>
    <%# link_to "Request a Ride", passenger_trips_path(@passenger.id), method: :post %>
      </div>
    <% end %>

    <button><%= link_to "Edit", edit_passenger_path(@passenger.id) %></button>
    <button><%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm: 'Are you sure you want to delete this trip?'} %></button>

    <%= render partial: "layouts/personaltrips",
    locals: {all_trips: @trips,
            } %>

    <% end %>

</div>
