<div id="form-main">
  <div id="form-div">
    <%= form_with model: @passenger, url: passenger_trips_path(@passenger.id), method: :post, class: "form", id: "form1" do |f| %>
    <h2>Passenger Detail</h2>
    <h2><%= @passenger.name %> (<%= @passenger.status.to_s.gsub("_", "-") %>)</h2>
    <h2>Total Charged : <%= "$" + "%.2f" % @passenger.total_cost%></h2>

  <% if @passenger.status == :available %>
    <div class="submit">
      <%= f.submit "Request a Ride", id: "button-orange" %>
      <div class= "ease"></div>
  <%# link_to "Request a Ride", passenger_trips_path(@passenger.id), method: :post %>
    </div>
    <% end %>
    <button><%= link_to "Edit", edit_passenger_path(@passenger.id) %></button>
    <button><%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm: 'Are you sure you want to delete this trip?'} %></button>


<% end %>
  </div>
</div>

<%= render partial: "layouts/personaltrips",
locals: {all_trips: @trips,
        } %>
