<section id="title">
  <h1>Ride Share</h1>
  <sub>Changing The Way People Travel</sub>
</section>

<nav class="nav">
  <li><%= link_to "HOME", root_path %></li>
  <li><%= link_to "DRIVER", drivers_path %></li>
  <li><%= link_to "PASSENGER", passengers_path %></li>
  <li><%= link_to "TRIPS", trips_path %></li>
</nav>

<h1>Trips#index</h1>
<p>Find me in app/views/trips/index.html.erb</p>

<h4>Trip History:</h4>
<table style="width:100%">
  <tr>
    <th>Trip ID</th>
    <th>Passenger ID</th>
    <th>Driver Id</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <% @trips.all.each do |trip| %>
  <tr>
    <td><%=trip.id%></td>
    <td><%=trip.passenger_id %></td>
    <td><%=trip.driver_id%></td>
    <td><%=trip.date%></td>
    <td><%=trip.rating%></td>
    <td><%=trip.cost%></td>
    <td><%=link_to "edit", edit_trip_path(trip.id)%></td>
    <td><%=link_to "delete", trip_path(trip.id), method: :delete, data: {confirm: "Please confirm you would like to be deleted as a passenger"} %></td>
    <% end  %>
  </tr>
</table>
