<h2>In Trips View Template, index.html.erb</h2>

<%= link_to "Homepage", root_path %>



<% if @driver != nil %>
  <h2>Driver Information</h2>

  <strong>Name: <%= @driver.name %></strong>
  <br>
  <strong>Average Rating: <%= @driver.avg_rating %></strong>
  <br>
  <strong>Driver Earnings: <%= @driver.total_trip_earnings %></strong>
  <br>


  <h2>Driver Trips</h2>
  <table>
    <thead>
     <tr>
       <th>ID</th>
       <th>Date</th>
       <th>Driver</th>
       <th>Passenger</th>
       <th>Price</th>
       <th>Rating</th>
       <th>Edit</th>
       <th>Delete</th>
     </tr>
   </thead>
   <tbody>
     <% @trips.each do |trip| %>
        <tr>
          <td>
            <%= link_to trip.id, trip_path(trip.id) %><br>
          </td>
          <td>
            <%= trip.date.to_s %><br>
          </td>
          <td>
            <%= trip.driver_id %><br>
          </td>
          <td>
            <%= trip.passenger_id %><br>
          </td>
          <td>
            <%= (trip.cost).to_f / 100 %><br>
          </td>
          <td>
            <%= trip.rating %><br>
          </td>
          <td>
            <%= link_to "Edit", edit_trip_path(trip.id) %>
          </td>
          <td>
            <%= link_to "Delete", trip_path(trip.id), data: { confirm: "Are you sure you want to delete this trip?", method: :delete} %>
          </td>
        </tr>
       <% end %>
   </tbody>
  </table>
<% else %>
  <h2>All Trips by All Driver</h2>
  <%= @trips %>

<% end %>
