<div class="trip-container">
  <%= form_with model: @trip, class: 'new-trip-form' do |f| %>

  <p>Please provide the following information to save new trip to our database:</p>

  <h2>New Trip Form</h2>

  <%= f.label :driver %>
  <%= f.select :driver_id, Driver.all.map{ |dvr| [driver.name, driver.id] } %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.submit "Create New Trip", class: "new-trip-submit-button" %>

  <% end %>

</div>

<div class="return-home">
  <h3>
    <%= link_to "Return Home", trips_path, class: "homepage" %>
  </h3>
</div>
