<h1>New Trip</h1>

<%= form_with model: @trip, class: 'task-form' do |f| %>
  <p><%= f.label :date %>:
    <%= f.text_field :date %></p>
  <p><%= f.label :rating %>:
    <%= f.text_field :rating %></p>
  <p><%= f.label :cost %>:
    <%= f.text_field :cost %></p>
  <%= f.submit "Save Trip" %>
<% end %>
