<h1>Trip Details</h1>
<p>Find me in app/views/trips/show.html.erb</p>

<h1>Trip #<%= @trip.id %> (<%= @trip.status.to_s.gsub("_", "-") %>)</h1>
<h2>Date :  <%= @trip.date %></h2>
<h2>Driver : <%= link_to @trip.driver.name, driver_path(@trip.driver.id) %></h2>
<h2>Passenger : <%= link_to @trip.passenger.name, passenger_trips_path(@trip.passenger.id) %></h2>
<h2>Rating : <%= @trip.formatted_rating %></h2>
<h2>Cost : $<%= @trip.formatted_cost %></h2>
<% if @trip.status == :in_progress %>
  <%= form_with model: @trip, url: trip_path, method: :patch do |f| %>
    <%= f.label :rating, "Add Rating and End Trip" %>
    <%= f.select :rating, [["1"], ["2"], ["3"], ["4"], ["5"]], include_blank: "Please select", required: true %>
    <%= f.submit "End Trip" %>
  <% end %>
<% else %>
  <%= link_to "Edit", edit_trip_path(@trip.id) %>
<% end %>
<%= link_to "Delete", trip_path(@trip.id), method: :delete, data: {confirm: 'Are you sure you want to delete this passenger?'} %>

<!-- View details of the trip
Assign a rating (1-5) to the trip, if it does not already have one
Click links to detail pages for the trip's driver and passenger
Click links to edit and delete the trip -->
