<div class="description-container">

  <h2>Trip #: <%= @trip.id %></h2>

  <p class="description-text">Driver_id: <%= @trip.driver_id %> <br> Passenger_id: <%= @trip.passenger_id %> <br /> Date: <%= @trip.date %> <br /> Trip Rating: <%= @trip.rating %> out of 5 <br /> Trip Cost: $<%= "%.2f" % ((@trip.cost) / 100.00) %></p>
</div>
<div class="return-home">
  <h3>
    <%= link_to "Return Home", trips_path, class: "homepage" %>
  </h3>
</div>
