<h1>Trips show page</h1>

<%= render partial: "layouts/nav" %>

<p>id: <%= @trip.id %></p>

<p>date: <%= @trip.date %></p>

<p>rating: <%= @trip.rating %></p>

<p>cost: <%= @trip.cost %></p>

<p>driver_id: <%= @trip.driver_id %></p>

<p>passenger_id: <%= @trip.passenger_id %></p>
