<h1>Trips#show</h1>
<p>Find me in app/views/trips/show.html.erb</p>

<h1>Trip #<%= @trip.id %></h1>
<%# if @trip.rating == nil %>
  <%= form_with model: @trip, url: trip_path, method: :patch do |f| %>
    <%= f.label :trip_rating, "Add Rating and End Trip" %>
    <%= f.select :trip_rating, [["0"], ["1"], ["2"], ["3"], ["4"], ["5"]], {:include_blank => "Please select"} %>
    <%= f.submit "End Trip" %>
  <% end %>
<%# else %>
  <%= link_to "Edit", edit_trip_path(@trip.id) %>
<%# end %>
<%= link_to "Delete", trip_path(@trip.id), method: :delete, data: {confirm: 'Are you sure you want to delete this passenger?'} %>

<!-- View details of the trip
Assign a rating (1-5) to the trip, if it does not already have one
Click links to detail pages for the trip's driver and passenger
Click links to edit and delete the trip -->
