<% if @trip.nil? %>
  <h1> 404 Not found</h1>
<% else %>

  <h1>Trip: <%= @trip.id %></h1>

  <p>Date: <%= @trip.date%></p>
  <p>Cost: $<%= @trip.cost%></p>
  <p>Rating: <%= @trip.rating%></p>

  <%= link_to "Driver #{@trip.driver.name}", driver_path(@trip.driver) %>
  <br>
  <%= link_to "Passenger #{@trip.passenger.name}", passenger_path(@trip.passenger) %>

<% end %>
