<% if @trip.nil? %>
  <h1>404 Not found</h1>
<% else %>

  <h1>Trip: <%= @trip.id %></h1>

  <p>Date: <%= @trip.date%></p>
  <p>Cost: $<%= (@trip.cost / 100.00).round(2) %></p>

  <% if @trip.rating.nil? %>
      <%= link_to "Rate Trip #{@trip.id}", edit_trip_path(@trip.id)%>
  <% else %>
      <p>Rating: <%= @trip.rating%></p>
  <% end %>

  <br />
  <%= link_to "Driver #{@trip.driver.name}", driver_path(@trip.driver) %>
  <br />

  <%= link_to "Passenger #{@trip.passenger.name}", passenger_path(@trip.passenger) %>
  <br />

  <%= link_to "Edit Trip #{@trip.id}", edit_trip_path(@trip.id)%>
  <br />

  <%= link_to "Delete Trip #{@trip.id}", trip_path(@trip.id), method: :delete, data: { confirm: 'Are you sure you want to delete this trip?'}%>
  <br />


<% end %>
