<h2> Trip Detail Page </h2>

<ul>
  <strong>
    <li> Driver Name:</li>
    <li><%= link_to @trip.driver.name, driver_path(@trip.driver.id) %></li>
    <li> Passenger Name:</li>
    <li><%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %></li>
    <li> Date: <%= @trip.date %> </li>
    <li> Price: <%= @trip.cost %> </li>

      <% if @trip.rating.nil? %>
      <%= form_with model: @trip, class: 'trip-form' do |f| %>
      <%= f.label :rating %>
      <%= f.select :rating, [*1..5] %>
      <%= f.submit "Submit Rating" %>
      <% end %>
      <% else %>
      <li> Rating: <%= @trip.rating %> </li>
      <% end %>

    <li><%= link_to "Delete", trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure you want to delete #{@trip.id}?" } %></li>
  </strong>
</ul>
