<h2>Trip Details</h2>


<p>
  <strong>
    <%= @trip.date %>
    <%= @trip.rating %>
    <%= @trip.cost %>
    <%= @trip.driver_id %>
    <%= @trip.passenger_id %>
  </strong>

</p>

<div class="links">

  <%= link_to "delete ", @trips, method: :delete, data: { confirm: "Are you really really sure that you want to delete ?" } %>
  <%= link_to "Edit Trip ", edit_trip_path(@trip.id) %>

</div>
