<p>Trip #<%= @trip.id %></p>
<table>
  <tr>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Edit?</th>
    <th>Delete?</th>
  </tr>

  <tr>
    <td><%= @trip.id %></td>
    <td><%= @trip.date %></td>
    <% if @trip.driver %>
      <td><%= link_to "#{@trip.driver.name}", driver_path(@trip.driver.id) %></td>
    <% else %>
      <td>Inactive Driver</td>
    <% end %>
    <% if @trip.passenger %>
      <td><%= link_to "#{@trip.passenger.name}", passenger_path(@trip.passenger.id) %></td>
    <% else %>
      <td>Inactive Passenger</td>
    <% end %>
    <td>$<%= @trip.cost.to_f / 100 %></td>
    <td><%= @trip.rating %></td>
    <td><%= link_to "Edit Trip", edit_trip_path(@trip.id) %></td>
    <td><%= link_to "Delete Trip", trip_path(@trip.id), method: :delete, data: {confirm: "Delete Trip ##{@trip.id}?"}%></td>
  </tr>
</table>
