<%= form_with model: @passenger do |f| %>

  <p>
	<%= f.label :name %>:
	<%= f.text_field :name %>
  </p>

<p>
	<%= f.label :phone_number %>:
	<%= f.text_field :phone_num %>
</p>

<p>
<%= f.submit action_type %>
</p>

<% end %>
