<%= form_with model: @passenger do |f| %>
<table>
  <tr>
    <td>
      <%= f.label :name %>:
      <%= f.text_field :name %>
    </td>
    <td>
      <%= f.label :phone_number %>:
      <%= f.text_field :phone_num %>
    </td>
  </tr>
  <tr>

    <td>
      <%= f.submit action_type %>
    </td>
  </tr>
</table>
<% end %>
