<%= form_with model: @passenger, class: 'task-form' do |f| %>
  <p><%= f.label :name %>:
    <%= f.text_field :name%></p>
  <p><%= f.label :phone_num %>:
    <%= f.text_area :phone_num %></p>
  <%= f.submit "Save Passenger" %>
<% end %>
