<%= form_with model: @passenger, class: 'pass_form' do |f| %>
  <% if @passenger.errors.any?%>
    <h4>Errors:</h4>

    <ul>
      <% @passenger.errors.each do |column, message| %>
      <li>
        <strong><%= t(%{activerecord.attributes.passenger.phone
     }) %></strong><%=column%><%= message%>
      </li>
      <% end %>
    </ul>

  <%end%>

  <div class = "form">

    <%=f.label :name%><br>
    <%=f.text_field :name %>
    <br>
    <br>
    <%=f.label :phone%><br>
    <%=f.text_field :phone_num%>

  </div>

  <%=f.submit button_name, class: "edit-button"%>

<% end %>
