<h3> Edit passenger</h3>

<%= form_for @passenger do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :phone_num %>
  <%= f.text_field :phone_num %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
