<nav>
  <ul>
    <li><%=link_to "Home", homes_path %></li>
    <li><%=link_to "All Drivers", drivers_path %></li>
    <li><%=link_to "Enter a new driver", new_driver_path %></li>
    <li><%=link_to "All Passengers", passengers_path %></li>
    <li><%=link_to "Enter a new passenger", new_passenger_path %></li>
    <li><%=link_to "All Trips", trips_path %></li>
  </ul>
</nav>

<h1>Edit an existing passenger</h1>


<%= form_with model: @passenger do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_num %>
</p>

<p>
  <%= f.submit "Edit Passenger", class: "submit-button" %>
</p>
<% end %>
