<h1>Edit an existing passenger</h1>

<%= form_with model: @passenger do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_num %>
</p>

<p>
  <%= f.submit "Edit Passenger", class: "submit-button" %>
</p>
<% end %>
