<section id="title">
  <h1>Update Passenger</h1>
  <sub>Changing The Way You Travel</sub>
</section>

<%# form_with url: "/books", method: :post, class: "book-form" do |f|%>
<nav class="nav">
  <li><%= link_to "HOME", root_path %></li>
  <li><%= link_to "DRIVER", drivers_path %></li>
  <li><%= link_to "PASSENGER", passengers_path %></li>
  <li><%= link_to "TRIPS", trips_path %></li>
</nav>

<%= form_with model: @passenger, class: "passenger-form" do |f|%>
  <p>Please provide the following information to become a passenger on RideShare!</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :phone_num %>
  <%= f.text_field :phone_num %>

  <%# f.hidden :creator, value: 'Divya' %>

  <%= f.submit "Submit Edit", class: "passenger-button" %>
<% end %>
