<section id="title">
  <h1>Ride Share Passenger List</h1>
  <sub>Changing The Way People Travel</sub>
</section>

<nav class="nav">
  <li><%= link_to "HOME", root_path %></li>
  <li><%= link_to "DRIVER", drivers_path %></li>
  <li><%= link_to "PASSENGER", passengers_path %></li>
</nav>

<ul>
  <% @passengers.each do |passenger| %>
    <li class="passenger">
      <%= link_to passenger.id, passenger_path(passenger.id) %>
      <%= passenger.name %>
      <%= passenger.phone_num %>
      <%= link_to "edit", edit_passenger_path(passenger.id) %>
      <%= link_to "delete", passenger_path(passenger.id), method: :delete, data: {confirm: "Please confirm you would like to be deleted as a passenger"} %>
    </li>
  </ul>
<% end %>
