<h1 class= "title"> Rideshare Passenger List
</h1>

<%= button_to "Become a Passenger", new_passenger_path, method: :get %>
</div>

<div class="container">
<h1 Your Tasks</h1>
<ul>
  <% @passengers.each do |passenger| %>

    <li class="passenger">
      <%= link_to passenger.id, passenger_path(passenger.id) %>
      <%= passenger.name %>
      <%= passenger.phone_num %>
      <%= link_to "edit", edit_passenger_path(passenger.id) %>
      <%= link_to "delete", passenger_path(passenger.id), method: :delete, data: {confirm: "Please confirm you would like to be deleted as a passenger"} %>
    </li>
  </ul>
<% end %>
