<nav>
  <ul>
    <li><%=link_to "Home", homes_path %></li>
    <li><%=link_to "All Drivers", drivers_path %></li>
    <li><%=link_to "Enter a new driver", new_driver_path %></li>
    <li><%=link_to "All Passengers", passengers_path %></li>
    <li><%=link_to "Enter a new passenger", new_passenger_path %></li>
    <li><%=link_to "All Trips", trips_path %></li>
  </ul>
</nav>

<h1>Create a new passenger</h1>


<%= render partial: 'layouts/form_errors',
locals: {
  model: @passenger
}
%>

<%= render partial: "form", locals: {directions: "Complete this form to add a new passenger:", action_button: "Create New Passenger"} %>
