<h1> Passenger </h1>
<%# form_with url: "/books", method: :post, class: "book-form" do |f|%>

<%= form_with model: @Passenger, class: "passenger-form" do |f|%>
  <p>Please provide the following information to become a passenger on RideShare!</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%# f.hidden :creator, value: 'Divya' %>

  <%= f.submit "Sumbit!", class: "passenger-button" %>
<% end %>
