<section id="title">
  <h1>New Passenger</h1>
  <sub>Start Your Journey Today</sub>
</section>

<nav class="nav">
  <li><%= link_to "HOME", root_path %></li>
  <li><%= link_to "DRIVER", drivers_path %></li>
  <li><%= link_to "PASSENGER", passengers_path %></li>
</nav>

<%= form_with model: @Passenger, class: "passenger-form" do |f|%>
  <p>Please provide the following information to become a passenger on RideShare!</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%# f.hidden :creator, value: 'Divya' %>

  <%= f.submit "Sumbit!", class: "passenger-button" %>
<% end %>
