<div class="description-container">

  <h2><%= @passenger.name %> | <%= @passenger.id %></h2>

  <p class="description-text">Name: <%= @passenger.name %><p/>
    <p>
      Phone Number: <%= @passenger.phone_num %>
    </p>
    <p>
      Total Amount Charged: $<%= @passenger.total_cost %>
    </p>
    <p>
      Trips:
    </p>
  </div>
  <div class="return-home">
    <h3>
      <%= link_to "Return Home", all_passengers_path, class: "homepage" %>
    </h3>
  </div>
