<% if @passenger.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1><%=@passenger.name %></h1>
  <p><%= @passenger.phone_num %> </p>
  <p>Total Spending in USD: $<%= @passenger.total_spending %> </p>

  <%= link_to "Edit Passenger", edit_passenger_path(@passenger.id) %>

  <%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete , data: {confirm: "Are you sure?"}%>
  <p><%= link_to "Trips", passenger_trips_path(@passenger.id) %> </p>
  <p><%= link_to "Request New Trip", passenger_trips_path(@passenger.id), method: :create %> </p>

<% end %>
