<section class="details">
  <h2><%= @passenger.name %></h2>
  <h3>Total Charges: <%= number_to_currency(@passenger.total_charges) %></h3>
  <button><%= link_to 'Request New Trip', passenger_trips_path(@passenger.id), method: :post %></button>
</section>

<p>TODO: Render trips table partial.</p>
<% @trips.each do |trip| %>

<ul>
  <strong>
    <li><%= link_to 'Trip Details', trip_path(trip.id) %></li>
    <li> Date: <%= trip.date %> </li>
    <li> Rating: <%= trip.rating %> </li>
    <li> Cost: <%= trip.cost %> </li>
  </strong>
</ul>

<% end %>
