<h2>Passenger Details</h2>


<p>
  <strong>
    <%= @passenger.name %>
    <%= @passenger.id %>
    <%= @passenger.phone_num %>
  </strong>

</p>
<div class="links">

  <%= link_to "delete ", @passenger, method: :delete, data: { confirm: "Are you really really sure that you want to delete #{@passenger.name}?" } %>
  <%= link_to "Edit Passenger ", edit_passenger_path(@passenger.id) %>

</div>
