<!-- <h1>Passengers#show</h1>
<p>Find me in app/views/passengers/show.html.erb</p> -->

<% if @passenger.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1><%=@passenger.name %></h1>
  <h3> by <%= link_to "#{@passenger.name}", passenger_path(@passenger.id) %></h3>
  <p><%= @passenger.phone_num %> </p>
  <p><%= "$#{@passenger.total_charged}" %>  </p>
  <%= link_to "Edit", edit_passenger_path(@passenger.id) %>
  <!--TODO FIgure out how to delete passengers without impacting driver trips.   -->
  <!--  Maybe set passenger id to null then delete? -->
  <%= link_to "Delete #{@passenger.name}", passenger_path(@passenger.id), method: :delete %>
<% end %>
