<% if @passenger.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1><%=@passenger.id %></h1>
  <h3>Passenger id <%= @passenger.id %></h3>
  <h3>Passenger name <%= @passenger.name %></h3>
  <p>Phone number <%= @passenger.phone_num %> </p>
  <p>
  Total amount passenger has been charged:</p>

  <p><%= link_to "List of trips", passenger_trips_path(@passenger.id) %></p>

  <p><%= link_to "Edit", edit_passenger_path(@passenger.id) %><p>
  <p><%= link_to "Delete", passenger_path(@passenger.id), method: :delete %></p>
  <p><%= link_to "Add trip" %></p>
<% end %>
