<% if @passenger.nil? %>
  <h1><%= "404: NOT FOUND" %></h1>
<% else %>
<h1> <%= @passenger.name %></h1>
<ul>
  <li>Phone Number: <%= @passenger[:phone_num] %></li>
  <li> Total Charged: $ <%=@passenger.total_charged%></li>
</ul>

<section>
  Trips: <% @passenger.trips.each do |trip|%>
  <ul>
    <li><%= link_to "Trip #{trip.id}", trip_path(trip.id)%></li>
    <li> Trip Date: <%= trip.date%></li>
    <li> Driver: <%= trip.driver.name%></li>
    <li> Cost: <%= trip.cost/100%></li>

  </ul>
  <%end%>
</section>
<!-- create chart of trips -->
<ul>
<li><%= link_to "Edit", edit_passenger_path(@passenger.id)%></li>
<li><%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm:"Are you sure you want to delete?"} %></li>
</ul>
<% end %>
