<%= render partial: "layouts/nav" %>

<h1>Passenger show page</h1>

<p>
  id: <%= @passenger.id %>
</p>

<p>
  name: <%= @passenger.name %>
</p>

<p>
  phone number: <%= @passenger.phone_num %>
</p>

<strong>Money spent:</strong>
$<%= @passenger.spent %>
