<% if @passenger.nil? %>
  <h1><%= "404: NOT FOUND" %></h1>
<% else %>
<h1> <%= @passenger.name %></h1>
<section> <%= link_to "Request Trip", new_passenger_trip_path(@passenger.id)%>
<ul>
  <li>Phone Number: <%= @passenger[:phone_num] %></li>
  <li> Total Charged: $ <%=@passenger.total_charged%></li>
</ul>

<section>
  <%= render partial: "list_of_trips", locals: { user: "Passenger" } %>

</section>
<!-- create chart of trips -->
<ul>
<li><%= link_to "Edit", edit_passenger_path(@passenger.id)%></li>
<li><%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm:"Are you sure you want to delete?"} %></li>
</ul>
<% end %>
