<h1>Passenger: <%= @passenger.name %></h1>
<h3>Phone Number: <%= @passenger.phone_num %></h3>
<button id='requestride'>
  <%= link_to "Request Ride", passenger_trips_path(@passenger.id), method: :post %> </h2>
</button>

<h2> Passenger Trips: </h2>
<table>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Drivers</th>
    <th>Price </th>
    <th>Rating</th>
    <th>Delete</th>
  </tr>
  <% @passenger.trips.each do |trip| %>
  <tr>
    <td><%= link_to "#{trip.id}", trip_path(trip.id) %> </td>
    <td><%= trip.date%> </td>

    <% if trip.driver %>
      <td><%= link_to "#{trip.driver.name}", driver_path(trip.driver.id) %></td>
    <% else %>
      <td>Inactive Driver</td>
    <% end %>

    <td><%= trip.cost_in_dollars %> </td>
    <td><%= trip.rating %> </td>
    <td><%= link_to "Delete Trip", trip_path(trip.id), method: :delete, data: {confirm: "Delete Trip with #{trip.id}?"}%></td>
  </tr>
  <% end %>
</ol>
</table>
<h3> Total Charges: <%= @passenger.total_charges_in_dollars %> </h3>
