<h3>Passenger Details</h3>
<p>
  <%= @passenger[:name] %>
</p>
<p>
  <%= @passenger[:phone_num] %>
</p>
<p>
  <strong> <%= link_to "Edit This Passenger", edit_passenger_path %> </strong>
</p>
<p>
  <strong><%= link_to "Delete This Passenger", passenger_path, method: :delete,
     data: { confirm: "Are you sure you want to delete this passenger?" } %></strong>
</p>
<p>
  <strong> <%= link_to "Back to Passenger List", passengers_path %> </strong>
</p>
