<h2> <%= @passenger.name %> Detail Page </h2>

<ul>
  <li> <%= @passenger.name %> </li>
  <li> <%= @passenger.total_charges %> </li>
</ul>

<h3><%= link_to 'Request New Trip', passenger_trips_path(@passenger.id), method: :post %></h3>

<% @trips.each do |trip| %>

<ul>
  <strong>
    <li><%= link_to 'Trip Details', trip_path(trip.id) %></li>
    <li> Date: <%= trip.date %> </li>
    <li> Rating: <%= trip.rating %> </li>
    <li> Cost: <%= trip.cost %> </li>
  </strong>
</ul>

<% end %>
