<h2>PASSENGER DETAIL</h2>

<p>
  <strong> ID:</strong>
  <%= @passenger.id%>
</p>
<p>
  <strong> Name:</strong>
  <%= @passenger.name%>
</p>

<p>
  <strong> Phone:</strong>
  <%= @passenger.phone_num%>
</p>

<p>
  <strong> Total Spendings: $</strong>
  <%= @total %>

</p>


<button>
  <%= link_to "Request Trip", passenger_trips_path(@passenger), method: :post%>
</button>

<button>
  <%= link_to "Edit Passenger Info", edit_passenger_path(@passenger)%>
</button>

<h3>PASSENGER TRIPS</h3>

<table class="trips_table">
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Price</th>
    <th>Rating</th>
  </tr>
<tr>
  <% @passenger.trips.each do |trip| %>
  <td><%= link_to trip.id, trip_path(trip.id)%></td>
  <td><%= trip.date %></td>
  <td><%= link_to trip.driver.name, driver_path(trip.driver.id)%></td>
  <td><%= trip.passenger.name %></td>
  <td><%= (trip.cost.to_i/100.0).round(2) %></td>
  <td><%= trip.rating %></td>
</tr>
<%end%>
</table>
