<% if @passenger.nil? %>
  <h1> 404 Not found</h1>
<% else %>

  <h1><%= @passenger.name %></h1>
    <%= link_to "Add New Driver", new_driver_path%>
  <h3> Phone Number : <%= @passenger.phone_num %></h3>

  <%= link_to "Edit #{@passenger.name}", edit_passenger_path(@passenger.id)%>

  <p></p>

  <%= link_to "Delete #{@passenger.name}", passenger_path(@passenger.id), method: :delete, data: { confirm: 'Are you sure you want to delete?'}%>

  <p>Trips go here</p>


<% end %>
