
<h1>Passenger show page</h1>
<p>
  <strong>ID:</strong>
  <%= @passenger.id %>
  <br />
  <strong>Passenger:</strong>
  <%= @passenger.name %>
  <br />
  <strong>Phone Number:</strong>
  <%= @passenger.phone_num %>
  <br />
  <strong>Money spent:</strong>
  $<%= @passenger.spent %>
</p>

<%= form_for @trip, url: passenger_trips_path(@passenger.id) do |f| %>


<%= f.submit "request new trip", class: "submit-button" %>
<% end %>


<h2>Trips for this Passenger</h2>
<p>
  <ul>
    <% @passenger.trips.sort.each do |trip| %>
    <li><strong>Trip #: <%=trip.id %></strong></li>
    <li>Date: <%=trip.date %></li>
    <% if trip.rating == nil %>

    <%= form_for @trip, url: trip_path(trip.id), :method => :patch do |f| %>
    <li>
      <%= f.label :rating %><br>
      <%= f.select :rating, [ '1', '2', '3', '4', '5'], :prompt => 'Select rating' %>
      <%= f.submit "Update rating", class: "submit-button" %>
    </li>
    <% end %>

    <% else %>
    <li>Rating: <%=trip.rating %></li>
    <% end %>

    <li>Cost: <%=trip.cost %></li>
    <% if trip.driver_id %>
    <%=link_to "Driver", driver_trips_path(trip.driver_id) %>
    <% else %>
    [No Driver]
    <% end %>

    <% end %>
  </ul>
</p>
