<% if @passenger.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1>Passenger Details<h1>

  <h2><%= @passenger.name %></h2>
  <h3>Phone Number : <%= @passenger.phone_num %></h3>

  <h3>Total Cost of Trips: <%= '%.2f' % (@passenger.total_trips_cost * 0.01)%></h3>

  <%= link_to "Edit #{@passenger.name}", edit_passenger_path(@passenger.id)%>
  <br />

  <%= link_to "Delete #{@passenger.name}", passenger_path(@passenger.id), method: :delete, data: { confirm: 'Are you sure you want to delete?'}%>
  <br />
  <br />

  <%= form_with model: Trip.new do |f|%>
    <%= f.hidden_field :passenger_id, :value => @passenger.id %>
    <%= f.submit "Request Ride" %>
  <% end %>
  <br />

  <!-- <% @passenger.trips.each do |trip| %>
    <%= link_to "Trip: #{trip.id} on #{trip.date}", trip_path(trip) %>
  <br />
  <% end %> -->

  <table style="width:90%">
     <tr>
       <th>Trip ID</th>
       <th>Driver</th>
       <th>Date</th>
       <th>Rating</th>
       <th>Cost</th>
     </tr>
     <% @passenger.trips.each do |trip| %>
     <tr>
       <td><%=link_to trip.id, trip_path(trip.id)%></td>
       <td><%=trip.driver.name%></td>
       <td><%=trip.date%></td>
       <td><%=trip.rating%></td>
       <td><%="#{'%.2f' % (trip.cost * 0.01)}"%></td>
       <% end  %>
     </tr>
   </table>

  <% end %>
