<%= render partial: "layouts/nav" %>

<h1>Passenger show page</h1>

<p>
  id: <%= @passenger.id %>
</p>

<p>
  name: <%= @passenger.name %>
</p>

<p>
  phone number: <%= @passenger.phone_num %>
</p>

<!-- # <%= @passenger.trips %> -->
<h2>Trips for this Passenger</h2>
<p>
  <ul>
    <% @passenger.trips.sort.each do |trip| %>
    <li><strong>Trip #: <%=trip.id %></strong></li>
    <li>Date: <%=trip.date %></li>
    <li>Rating: <%=trip.rating %></li>
    <li>Cost: <%=trip.cost %></li>
    <li>Driver id: <%=trip.driver_id %></li>
    <!-- turn into link that links to driver show page.  push in parameter as driver_id-->
    <br/>

    <% end %>
  </ul>
</p>


<strong>Money spent:</strong>
$<%= @passenger.spent %>
