
<h1>Passenger show page</h1>
<p>
  <strong>ID:</strong>
  <%= @passenger.id %>
  <br />
  <strong>Passenger:</strong>
  <%= @passenger.name %>
  <br />
  <strong>Phone Number:</strong>
  <%= @passenger.phone_num %>
  <br />
  <strong>Money spent:</strong>
  $<%= @passenger.spent %>
</p>

<%=link_to "Request a new trip", new_trip_path %>

<h2>Trips for this Passenger</h2>
<p>
  <ul>
    <% @passenger.trips.sort.each do |trip| %>
    <li><strong>Trip #: <%=trip.id %></strong></li>
    <li>Date: <%=trip.date %></li>
    <li>Rating: <%=trip.rating %></li>
    <li>Cost: <%=trip.cost %></li>
    <%=link_to "Driver", driver_trips_path(trip.driver_id) %>
    <br/>

    <% end %>
  </ul>
</p>
