<h1> Here is info on a passenger!</h1>

<% if @passenger.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1><%=@passenger.name %></h1>
  <h3> <%= @passenger.phone_num %></h3>
  <h4> <%= "#{@passenger.name} has been charged a total of $ #{@passenger.charges}" %> </h4>

  <% @passenger.trips.each do |trip| %>
  <ul>
    <li> <%= link_to "#{trip.id}", trip_path(trip.id)%></li>
    <li> <%= trip.date %></li>
    <li> <%= link_to "#{trip.driver.name}", driver_path(trip.driver.id)%></li>
    <li> <%= trip.cost %> </li>
    <li> <%= trip.rating%></li>
  </ul>
<% end %>
<%= link_to "Request a Trip", request_trip_path(@passenger.id), method: :create %>
  <%= link_to "Edit", edit_passenger_path(@passenger.id) %>
  <div></div>
  <%= link_to "Delete #{@passenger.name}", passenger_path(@passenger.id), method: :delete, data: { confirm: 'Are you sure? This cannot be undone!'} %>
<% end %>
