<div class="description-container">

  <h2><%= @passenger.name %> | <%= @passenger.id %></h2>
  <p>
    <%= link_to "Add Trip", passenger_trips_path(@passenger.id), method: :post %> |
    <%= link_to "Edit", edit_passenger_path(@passenger.id), class: "edit-link" %> |
    <%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure you want to get rid of passenger #{@passenger.name}?" } %>
  </p>

  <p class="description-text">Name: <%= @passenger.name %><p/>
    <p>
      Phone Number: <%= @passenger.phone_num %>
    </p>
    <p>
      Total Amount Charged: $<%= "%.2f" % (@passenger.total_cost) %>
    </p>
    <p>
      Trips: <br />
      <% @passenger.list_trips.each do |trip| %>
      <%=link_to trip.date, trip_path(trip.id) %> <br />
      <% end %>
          </p>
  </div>
  <div class="return-home">
    <h3>
      <%= link_to "Return To Passengers", passengers_path, class: "homepage" %>
    </h3>
  </div>
