<section id="title">
  <h1>Passenger <%="#{@passenger.id}"%></h1>
  <sub>Changing The Way You Travel</sub>
</section>

<nav class="nav">
  <li><%= link_to "HOME", root_path %></li>
  <li><%= link_to "DRIVER", drivers_path %></li>
  <li><%= link_to "PASSENGER", passengers_path %></li>
  <li><%= link_to "TRIPS", trips_path %></li>
</nav>

  <ul>
    <li><strong>Name:</strong> <%= @passenger.name %></li>
    <li><strong>Phone Number:</strong> <%= @passenger.phone_num %></li>
    <li><strong>Total Spent:</strong> <%=@passenger.total_spent %></li>
    <% if @passenger.status == "active"%>
    <li><%= link_to "Inactivate Your Account", passenger_status_path(@passenger.id), method: :patch %></li>
    <% else @passenger.status == "inactive"%>
    <li><%= link_to "Actitvate Your Account", passenger_status_path(@passenger.id), method: :patch %></li>
    <%end%>

    <sub><%= link_to "Edit", edit_passenger_path(@passenger.id) %></sub>
    <sub><%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm: "Please confirm you would like to delete." } %></sub>
  </ul>

  <div class="buttonContainer"><%= link_to "Request A Ride", passenger_trips_path(@passenger.id), method: :post, class: "button" %></div>

    <h4>Trip History:</h4>
    <table style="width:100%">
      <tr>
        <th>Trip ID</th>
        <th>Passenger ID</th>
        <th>Driver Id</th>
        <th>Date</th>
        <th>Rating</th>
        <th>Cost</th>
      </tr>
      <% @passenger.all_passenger_trips.each do |trip| %>
      <tr>
        <td><%=link_to trip.id, trip_path(trip.id)%></td>
        <td><%=trip.passenger_id %></td>
        <td><%=trip.driver_id%>
        <% if trip.driver.status == "inactive"%>
      (Inactive)
      <% end %>
      </td>
        <td><%=trip.date%></td>
        <td><%=trip.rating%></td>
        <td><%="#{'%.2f' % (trip.cost * 0.01)}"%></td>
        <% end  %>
      </tr>
    </table>
