
<% if @passenger.nil? %>
  <h1> 404 Not found</h1>
<% else %>
<body>
  <section class="driver-header">
    <h1>Passenger Info</h1>
    <button class="driver-button"><%= link_to 'Edit', edit_driver_path(@passenger.id) %></button>
    <button class="driver-button"><%= link_to "Delete", driver_path(@passenger.id), method: :delete, data: {confirm: "Are you sure?"} %></button>
  </section>
  <section "driver-info">
    <p>ID: <%= @passenger.id %></p>
    <p>Name: <%= @passenger.name %></p>
    <p>Phone Number: <%= @passenger.phone_num %></p>
    <p>Total Amount Charged: <%= @passenger.total_charges %></p>
  </section>

  <p>Trip Details</p>




</body>

  <h1><%=@passenger.id %></h1>
  <h3>Passenger id <%= @passenger.id %></h3>
  <h3>Passenger name <%= @passenger.name %></h3>
  <p>Phone number <%= @passenger.phone_num %> </p>
  <p>Total amount passenger has been charged: $<%= @passenger.total_charges %></p>
  <!-- <p><%#= link_to "List of trips", passenger_trips_path(@passenger.id) %></p> -->

  <p><%= link_to "Edit", edit_passenger_path(@passenger.id) %><p>
  <p><%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure?"}  %></p>

  <p><%= link_to "Add trip", new_passenger_trip_path(@passenger.id) %></p>

  <% @passenger.trips.each do |trip| %>

    <p>Trip Id: <%=link_to "#{trip.id}", trip_path(trip.id)%></p>
    <p>Driver: <%= trip.driver_id %></sub>
    <p>Date: <%= trip.date %></p>
    <p>Rating: <%= trip.rating %></p>
    <p>Cost: <%= trip.cost %></p>
  <% end %>

<% end %>
