
<nav>
  <ul>
    <li><%=link_to "All Drivers", drivers_path %></li>
    <li><%=link_to "Enter a new driver", new_driver_path %></li>
    <li><%=link_to "All Passengers", passengers_path %></li>
    <li><%=link_to "Enter a new passenger", new_passenger_path %></li>
    <li><%=link_to "All Trips", trips_path %></li>
  </ul>
</nav>

<%= image_tag "https://c1.staticflickr.com/4/3379/3640003283_e186fe1d8a_b.jpg", alt: "Mr. Toad" %>
