<%= render partial: 'layouts/form_errors',
locals: {
  model: @driver
}
%>

<%=form_with model: @driver do |field| %>

<h3><%= form_title %></h3>
<p>Please enter the following details:</p>
<%= field.label :name%>
<%=field.text_field :name, placeholder: "Jenny" %>

<%= field.label :vin%>
<%=field.text_field :vin, placeholder: "123456-789" %>

<%= field.label :car_make%>
<%=field.text_field :car_make, placeholder: "Tesla" %>

<%= field.label :car_model%>
<%=field.text_field :car_model, placeholder: "Model 3" %>

<%=field.submit submit_type%>
<%end%>
