<tr>
  <td><%= link_to dtrips.id, trip_path(dtrips.id) %></td>
  <td><%= dtrips.date %></td>
  <td><%= dtrips.driver_id %></td>
  <td><%= dtrips.passenger_id %></td>
  <td><%= link_to "Edit", edit_trip_path(dtrips.id) %><%= " | " %><%= link_to "Delete", trip_path(dtrips.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
</tr>
