<h2 class="my-class"><%= page_title %></h2>

<% if @driver.errors.any? %>
<ul class="errors">
  <% @driver.errors.each do |field, message| %>
  <li>
    <strong><%= field.capitalize %>: </strong><%= message %>
  </li>
  <% end %>
</ul>
<% end %>

<%= form_with model: @driver, class: 'driver-form', data: { remote: false } do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :vin %>
<%= f.text_field :vin %>

<%= f.label :car_make %>
<%= f.select :car_make, ["Ford", "Honda", "Hyundai", "Nissan", "Toyota"] %>

<%= f.label :car_model %>
<%= f.select :car_model, ["Escape", "Focus", "Fiesta", "Accord", "Civic", "CR-V", "Elantra", "Santa Fe", "Sonata", "Altma", "Leaf", "PathFinder","RAV4", "Prius", "Camry"] %>

<%= f.submit %>

<% end %>
