<nav>
  <ul>
    <li><%=link_to "Home", homes_path %></li>
    <li><%=link_to "All Drivers", drivers_path %></li>
    <li><%=link_to "Enter a new driver", new_driver_path %></li>
    <li><%=link_to "All Passengers", passengers_path %></li>
    <li><%=link_to "Enter a new passenger", new_passenger_path %></li>
    <li><%=link_to "All Trips", trips_path %></li>
  </ul>
</nav>


<% if @driver.errors.messages.any? %>
<h1>Does this work?</h1>
  <section class="form-errors">
    <h3>There were some problems. Please fix them.</h3>
    <ul>
      <% @driver.errors.messages.each do |field, problem_list| %>
        <% problem_list.each do |problem| %>
          <li>
            <strong><%= field %></strong>
            <%= problem %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>

<%= render partial: "form", locals: {directions: "Complete this form to edit driver information:", action_button: "Edit Driver Info"} %>

<%=link_to "Return to main driver's list", drivers_path %>
