<ul>
<%@drivers.each do |driver|%>
<li>
<%=driver.name%>
<%=driver.vin%>
<%= link_to "| Details", driver_path(driver.id) %>
<%= link_to "Delete Driver", driver_path(driver.id) %>
<%= link_to "Edit Driver", edit_driver_path(driver.id) %>
</li>
<%end%>

</ul>

<p><%= link_to "Add New Driver", new_driver_path %></p>
