<%= link_to "(Home Page)", trips_path %>
<%= link_to "(Add New Driver)", new_driver_path %>

<h2>Driver Page</h2>

<ul>
    <% @drivers.each do |driver| %>
    <%= link_to "(#{driver.name})", driver_path(driver.id) %>
      <!-- create average rating method in the model: calling it on each instance of the driver  -->
      Rating: <%= driver.average_rating %>
    <%= link_to "Edit", edit_driver_path(driver.id) %>
    <%= link_to "Delete", driver_path(driver), method: :delete, data: { confirm: "Are you 1000% sure you want to delete the driver #{driver.name}?" } %>
    <p>
    <% end %>
</ul>
