<%=form_with model: @driver do |field| %>
<p>Please fill out the form with the following details:</p>
<%= field.label :name%>
<%=field.text_field :name, placeholder: "Jenny" %>

<%= field.label :vin%>
<%=field.text_field :vin, placeholder: "123456-789" %>

<%=field.submit "Yay a new driver!"%>
<%end%>
