<div class="driver-container">
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <%= form_with model: @driver, method: :post, class: 'new-driver-form' do |f| %>

  <p>Please provide the following information to save a new driver to our database:</p>

  <h2>New Driver Form</h2>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :vin %>
  <%= f.text_field :vin %>

  <%= f.submit "Create New Driver", class: "new-driver-submit-button" %>

  <% end %>

</div>

<div class="return-home">
  <h3>
    <%= link_to "Return Home", trips_path, class: "homepage" %>
  </h3>
</div>
