<div class="container" role="main">
  <div class="c1">
    <h1><%=link_to "Rideshare", home_path%></h1>
  </div>
  <div class="c2">
    <div class="dropdown">
      <button class="dropbtn">Drivers</button>
      <div class="dropdown-content">
        <%=link_to "View All", drivers_path%>
        <%=link_to "Add Driver", new_driver_path %>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Passengers</button>
      <div class="dropdown-content">
        <%=link_to "View All", passengers_path%>
        <%=link_to "Add Passenger", new_passenger_path%>
      </div>
    </div>
  </div>
  <div class="c3">
    <h2>New Driver</h2>
    <%=link_to "Return", request.referer.present? ? request.referer : home_path%>
  </div>
  <div class="c4">
    <%= render partial: "driver_form", locals: { submit_type: "Create", form_title: "Add New Driver"} %>
  </div>
</div>
