<h2><%= @driver.name%></h2>

<% if @driver.is_available? == false %>
<%= link_to "Go ONLINE", change_status_path(@driver.id), method: :patch %>
<% else %>
<%= link_to "Go OFFLINE", change_status_path(@driver.id), method: :patch %>
<% end %>

<p>STATUS: <%= @driver.is_available? %></p>
<p>VIN: <%= @driver.vin %></p>
<p>RATING: $ <strong>CREATE METHOD</strong> </p>
<p>Total Charged: $ <strong>CREATE METHOD</strong> </p>
<h3>Trips By Date: </h3>

<table>
  <thead>
    <tr>
      <th>Trip ID</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>Cost</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
    <tr>
      <td><%= link_to trip.id,trip_path(trip.id), class: 'trip-link' %></td>
      <td><%= trip.date %></td>
      <td><%= trip.driver_id %></td>
      <td><%= trip.passenger_id %></td>
      <td> <strong>CREATE METHOD</strong> </td>
      <td><% if trip.rating == nil %>
        <%= form_for trip do |f| %>
        <%= f.number_field :rating, min: 1, max: 5 %>
        <%= f.submit %>
        <% end %>
        <% else %>
        <%= trip.rating %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3>Modify driver:  </h3>
<ul>
  <li>
    <%= link_to "Edit", edit_driver_path %>
  </li>

  <li>
    <%= link_to "Delete", driver_path(@driver.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
</ul>
