<h1><%= @driver.name %></h1>
<%= link_to "All Drivers", drivers_path %>
<%= "|" %>
<%= link_to "Edit", edit_driver_path(@driver.id) %>
<%= "|" %>
<%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"} %>
<br /><br />

<strong>Total Earnings: $<%= @driver.total_earnings %></strong>
<br />
<strong>Average Rating: <%= @driver.average_rating %></strong>
<br /><br />

<% active_trips = @trips.where(active: true).order(:date) %>

<table class="show_table">
  <tr>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Driver ID</th>
    <th>Passenger ID</th>
  </tr>
  <tbody>
    <%= render partial: "dtrips", collection: active_trips %>
  </tbody>
</table>
