<h2><%= @driver.name %></h2>
<p><%= "vin: " + @driver.vin %></p>
<p>Total Earnings in USD: $<%= @driver.total_earning %> </p>
<p>Total Earnings in USD: $<%= sprintf("%d",@driver.total_earning).gsub(/(\d)(?=\d(3)+\.)/,'\1,') %> </p>
<p>Average Rating: <%= @driver.average_rate%> </p>
<p><%= link_to "Trips", driver_trips_path(@driver.id) %> </p>
