<div class="wrapper list-pages">

  <h1 class ="index-header">Driver Detail</h1>

<h1 class="user-name"><%= @driver.name %></h1>
 <% if @driver.is_available? == true %>
  <span class="dot_available"></span>
<% else %>
  <span class="dot_unavailable"></span>
<%end%>
<h2>Total Earnings : $<%= @driver.total_earnings %></h2>
<h2>Average Ratings : <%= @driver.average_rating %></h2>

<button><%= link_to "Edit", edit_driver_path(@driver.id) %></button>
<button><%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: 'Are you sure you want to delete this driver?'} %></button>


<%= render partial: "layouts/personaltrips",
locals: {all_trips: @driver.trips,
        } %>

</div>
