
<div class="available-button">
  <% if @driver.status == true %>
  <%= link_to "Driver is available", unavailable_path(@driver), method: :make_unavailable %>
  <% else %>
  <%= link_to "Driver is unavailable", available_path(@driver), method: :make_available %>
  <% end%>
</div>

<p>
  <strong>Driver:</strong>
  <%= @driver.name%>
  <br />
  <strong>VIN:</strong>
  <%= @driver.vin%>
  <br />
  <strong>Rating:</strong>
  <%= @driver.rating %>
  <br />
  <strong>Money earned:</strong>
  $<%= @driver.earned %>
  <br />
  <strong>Available?:</strong>
  <%= @driver.status %>
</p>

<h2>Trips for this Driver</h2>
<p>
  <ul>
    <% @driver.trips.sort.each do |trip| %>
    <p>
      <li><strong>Trip #: <%=trip.id %></strong></li>
      <li>Date: <%=trip.date %></li>
      <li>Rating: <%=trip.rating %></li>
      <li>Cost: <%=trip.cost %></li>
      <%=link_to "Passenger", passenger_trips_path(trip.passenger_id) %>
    </p>
    <%end%>
  </ul>
</p>
