<h3>DRIVER DETAILS</h3>

<div>
  Driver name: <%= @driver.name %>
  <br>

  VIN: <%= @driver.vin %>
  <br>

  Average Rating: <%= @driver.average_rating.round(2)%>
  <br>

  Total Earnings: $ <%= ((@driver.total_earnings)/100).round(2) %>
<br />

 <% if @driver[:available] == true %>
 Status: Available
 <% else %>
 Status: Unavailable
 <% end %>

 <%= link_to "Change Status", update_status_driver_path(@driver.id), method: :patch %>

  <br>
  <table class = "trips_table">
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Passenger</th>
      <th>Price</th>
      <th>Rating</th>
    </tr>

    <tr>
      <% @driver.trips.each do |trip| %>
      <td><%= link_to trip.id, trip_path(trip.id) %></td>
      <td><%= trip.date %></td>

      <td><% if trip.passenger != nil %>
        <%= link_to trip.passenger.name, passenger_path(trip.passenger.id)%>
        <% else %>
        not available
        <% end %>
      </td>

      <td><%= trip.cost %></td>

      <td><%= trip.rating %></td>
    </tr>







    <% end %>
  </table>

</div>
