<div class="container" role="main">
<div class="c1">
  <h1><%=link_to "Rideshare", home_path%></h1>
</div>
<div class="c2">
  <div class="dropdown">
    <button class="dropbtn">Drivers</button>
    <div class="dropdown-content">
      <%=link_to "View All", drivers_path%>
      <%=link_to "Add Driver", new_driver_path %>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Passengers</button>
    <div class="dropdown-content">
      <%=link_to "View All", passengers_path%>
      <%=link_to "Add Passenger", new_passenger_path%>
    </div>
  </div>
</div>
 <div class="c3">
   <%= link_to "Edit #{@driver.name}", edit_driver_path(@driver.id) %>
   <%= link_to "Delete #{@driver.name}", driver_path(@driver.id), method: :delete, data: { confirm: "Are you sure you want to delete the driver #{@driver.name}?" } %>
   <%=link_to "Return", request.referer.present? ? request.referer : home_path%>
 </div>
 <div class="c4">
   <h2>Driver Details</h2>
   <%=@driver.id%>
   <%=@driver.name%>
   <%=@driver.vin%>
   Revenue: $ <%= "%.2f" % ((@driver.total_revenue) / 100.00) %>
   Average Rating:  <%= @driver.average_rating %>
   <h2>Driver Trips</h2>
      <% @driver_trips.each do |trip| %>
      <p>Trip_ID: <%= trip.id %> Trip cost: <%= trip.cost %> Rating: <%= trip.rating %> <%= link_to "[Details]", trip_path(trip.id) %>
      <%end%>
    </p>
    <%= will_paginate @driver_trips, previous_label: h("<"), next_label: h(">") %>
 </div>
</div>
