<%= render partial: "layouts/nav" %>
<p>

  <strong>Driver:</strong>
  <%= @driver.name%>
  <br />
  <strong>VIN:</strong>
  <%= @driver.vin%>

  <br />
  <strong>Rating:</strong>
  <%= @driver.rating %>

  <br />
  <strong>Money earned:</strong>
  $<%= @driver.earned %>

</p>
