<!-- <h1>drivers#show</h1>
<p>Find me in app/views/drivers/show.html.erb</p> -->

<% if @driver.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1><%=@driver.name %></h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Vin Number</th>
      <th>Average Rating</th>
      <th>Total Earned</th>
      <th>Edit Driver</th>
      <th>Delete Driver</th>
    </tr>
    <tr>
      <td>
        <%= "#{@driver.id}" %>
      </td>
      <td>
        <%= "#{@driver.vin}" %>
      </td>
      <td>
        <%= "#{@driver.average_rating}"%>
      </td>
      <td>
        <%= "$#{@driver.amount_earned}" %>
      </td>
      <td>
        <%= link_to "Edit", edit_driver_path(@driver.id) %>
      </td>
      <td>
        <%= link_to "Delete", driver_path(@driver.id), method: :delete %>
      </td>
    </tr>
  </table>
  <!-- TODO FIgure out how to delete drivers without impacting driver trips.   -->
  <!--  Maybe set driver id to null then delete? -->

  <!-- Show driver trips here. Have driver_trips_path somehow?  -->
  <h1>Trips</h1>
  <table>
    <tr>
      <th>Date</th>
      <th>Trip ID</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>Cost</th>
      <th>Rating</th>
    </tr>
    <% @trips.each do |trip| %>
      <tr>
        <td><%="#{trip.date}"%></td>
        <td><%= link_to "#{trip.id}", trip_path(trip.id)%></td>
        <td><%= link_to "#{trip.driver_id}", driver_path(trip.driver_id)%></td>
        <td><%= link_to "#{trip.passenger_id}", passenger_path(trip.passenger_id)%></td>
        <td><%= "$#{trip.convert_money(trip.cost)}" %></td>
        <td><%="#{trip.rating}"%></td>
      </tr>

    <% end %>
  </table>
  <!-- render driver_trips_path -->
  <!-- <%# render driver_trips_path %> -->
  <!-- How do we show a list of driver trips using the driver_trips path? -->

<% end %>
