<h1><%= @driver.name %></h1>

<strong>ID: <%= @driver.id %></strong>
<br />
<strong>VIN: <%= @driver.vin %></strong>
<br />
<br />
<%= link_to "Edit", edit_driver_path(@driver.id) %>
<br />
<%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"} %>
