<h2><%= @driver.name %></h2>
<p><%= "vin: " + @driver.vin %></p>
<p>Total Earnings in USD: $<%= @driver.total_earning %> </p>
<p>Average Rating: <%= @driver.average_rate %> </p>
<table>
<tr><strong><td>Date</td><td>Passanger</td><td>Rating</td><td>Cost</td></strong></tr>
<p><%@driver.trips.map do |trip| %>
  <tr>
  <td><%=trip.date%></td>
  <td><%=trip.passenger%></td>
  <td><%=trip.rating%></td>
  <td>$<%=trip.cost / 100%></td>
  </tr>
<%end%>
</table>
</p>
<!-- <p><%= link_to "Trips", driver_trips_path(@driver.id) %> </p> -->
<!-- add header, change money to real format, style with css -->
