<h2> <%= @driver.name %> Detail Page </h2>

<ul>
  <li> <%= @driver.name %> </li>
  <li> <%= @driver.total_earnings %> </li>
  <li> <%= @driver.avg_rating %> </li>
</ul>

<% @trips.each do |trip| %>

<ul>
  <strong>
    <li><%= link_to 'Trip Details', trip_path(trip.id) %></li>
    <li> Date: <%= trip.date %> </li>
    <li> Rating: <%= trip.rating %> </li>
    <li> Cost: <%= trip.cost %> </li>
  </strong>
</ul>

<% end %>
