<% if @driver.nil? %>
  <h1><%= "404: NOT FOUND" %></h1>
<% else %>
<h1> <%= @driver.name %></h1>
<section class="status">Status: <%=@driver.status%> </section>
<ul>
  <li>VIN: <%= @driver[:vin] %></li>
  <li> Total Earned: $<%= @driver.total_earned%></li>
  <li> Average Rating: <%= @driver.average_rating%></li>
  </ul>
  <section>
    <%= render partial: "list_of_trips", locals: { user: "Driver"} %>
    <%end%>
  </section>




<ul>
<li><%= link_to "Edit", edit_driver_path(@driver.id)%></li>
<li><%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm:"Are you sure you want to delete?"} %></li>
</ul>
