<h1>Driver details</h1>

<ul>
    <li>
      <strong>Driver ID: </strong>
      <%= @driver.id %>
    </li>
    <li>
      <strong>Name: </strong>
      <%= @driver.name %>
    </li>
    <li>
      <strong>Vehicle Number</strong>
      <%= @driver.vin %>
    </li>
    <li>
      <strong>Average Rating: </strong>
      <%= @driver.average_rating.round(1) %>
    </li>
    <li>
      <strong>Total Earnings: </strong>
      <%= @driver.total_earnings %>
    </li>
    <li>
      <%= link_to "Edit Driver Information", edit_driver_path %>
    </li>
    <li>
      <%= link_to "Delete driver", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure you want to delete this driver?"}%>
    </li>
</ul>
