<h1><%= @driver.name %></h1>
<%= link_to "Edit", edit_driver_path(@driver.id) %>
<br />
<%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"} %>
<br />
<br />

<% trips_by_date = @driver.trips.order(:date) %>

<table id="show_driver_data">
  <tr>
    <th>Date</th>
    <th>Driver ID</th>
    <th>Passenger ID</th>
  </tr>
  <% trips_by_date.each do |trip| %>
    <tr>
      <td><%= trip.date %></td>
      <td><%= trip.driver_id %></td>
      <td><%= trip.passenger_id %></td>
    </tr>
  <% end %>
</table>
