<h2>Driver Details</h2>


<p>
  <strong>
    <%= @driver.name %>
    <%= @driver.id %>
    <%= @driver.vin %>
  </strong>

</p>

<p>
  <p>All Trips: <%= (@driver.all_trips)%> </p>
  <p>Average Rating: <%= (@driver.average_rating) %> </p>
  <p>Total Earnings: $<%= "%.2f" % ((@driver.total_earnings) / 100) %> </p>


</p>


<div class="links">

  <%= link_to "delete ", @drivers, method: :delete, data: { confirm: "Are you really really sure that you want to delete ?" } %>
  <%= link_to "Edit Drivers ", edit_driver_path(@driver.id) %>

</div>
