<nav>
  <ul>
    <li><%=link_to "Home", homes_path %></li>
    <li><%=link_to "All Drivers", drivers_path %></li>
    <li><%=link_to "Enter a new driver", new_driver_path %></li>
    <li><%=link_to "All Passengers", passengers_path %></li>
    <li><%=link_to "Enter a new passenger", new_passenger_path %></li>
    <li><%=link_to "All Trips", trips_path %></li>
  </ul>
</nav>

<p>

  <strong>Driver:</strong>
  <%= @driver.name%>
  <br />
  <strong>VIN:</strong>
  <%= @driver.vin%>
</p>

<h2>Trips for this Driver</h2>
<p>
  <ul>
    <% @driver.trips.sort.each do |trip| %>
      <li><strong>Trip #: <%=trip.id %></strong></li>
      <li>Date: <%=trip.date %></li>
      <li>Rating: <%=trip.rating %></li>
      <li>Cost: <%=trip.cost %></li>
      <li>Passenger id: <%=trip.passenger_id %></li>
       <!-- driver name? -->
      <br/>

    <% end %>
  </ul>
</p>
