<% if model_name.errors.any? %>
  <ul class="errors">
    <% model_name.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: model_name do |f|%>
<h1><%= action_name %></h1>
<p> Please provide the following information:</p>
  <%= f.label :name , "Name:"%>
  <%= f.text_field :name%>
  <br>
  <%= f.label number_variable, "#{number_title}"%>
  <%= f.text_field number_variable%>
  <br>
  <%= f.submit button_title%>
<%end%>
