<h1> <%= user %> Trips </h1>
<% @trips.each do |trip|%>
<ul>
  <li><%= link_to "Trip #{trip.id}", trip_path(trip.id)%>
  <li> Trip Date: <%= trip.date%></li>
  <li> Driver: <%= trip.driver.name%></li>
  <li> Passenger: <%= trip.passenger.name%></li>
  <li> Cost: $<%= (trip.cost/100).round(2)%></li>
  <li> Rating: <%= trip.rating%></li>
</ul>
<%end%>
