<div id="form-main">
  <div id="form-div">


  <form class="form" id="form1">
  <%= form_with model: model, url: url, method: method do |f| %>
  <%= message %>
  <%= f.label field_one_text_field, field_one_label, class: "name"%>
  <%= f.text_field field_one_text_field, placeholder: field_one_placeholder, required: true, class: "feedback-input", id: "name"%>

  <!-- TODO: Add cool features -->
  <!-- maxlength: number, size: number, pattern: regex -->
  <!-- auto focus -->

  <%= f.label field_two_text_field, field_two_label, class: "phone"%>
  <%= f.text_field field_two_text_field, placeholder: field_two_placeholder, required: true, maxlength: field_two_maxlength, pattern: field_two_pattern, class: "feedback-input", id: icon_image %>

  <div class="submit">
    <%= f.submit button_text, id: "button-orange"  %>
    <div class: "ease"></div>
  </div>
  <% end %>
  </form>
</div>
</div>
