<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navigation">
      <strong>Ryde Baby Ryde!</strong>
    <%= link_to "Drivers", drivers_path  %>
    <%= link_to "Passengers", passengers_path %>
    <%= link_to "Home", homepages_path %>
    </nav>




    <%= yield %>

    <footer class="footer">
      Site by: Melissa && Katrina
    </footer>
  </body>
</html>
