<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  </head>

  <body>
    <header>
      <section class = "title-banner">
        <h1>Rideshare</h1>
      </section>
      <nav>
        <ul>
          <li><%= link_to "View All Passengers", passengers_path %> </li>
          <li><%= link_to "View All Drivers", drivers_path %></li>
          <li><%= link_to "Add New Passenger", new_passenger_path %></li>
          <li><%= link_to "Add New Driver", new_driver_path %> </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>
      copyright 2018
    </footer>
  </body>
</html>
