
<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>

    <h1>Mr. Toad's Wild Ride Share</h1>
    <!-- logo? -->
    <!-- put nav here? -->
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <p>2018. Mr. Toad's Wild Ride Share, by Goeun and Carly</p>

  </footer>
</html>
