<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway" rel="stylesheet"> 
  </head>

  <body>

      <header>
    <h1> Rideshare Rails!! </h1>
    </header>

    <nav>
      <ul>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "New Driver", new_driver_path %>
        </li>
        <li>
          <%= link_to "New passenger", new_passenger_path %>
        </li>
        <li>
          <%= link_to "All passengers", passengers_path %>
        </li>
        <li>
          <%= link_to "All drivers", drivers_path %>
        </li>

      </ul>

    </nav>
    <%= yield %>
  </body>
</html>
