<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Welcome to Ada's Rideshare!</h1>
      <nav>
        <ul>
          <!-- <li>
            <!- <%# link_to  "Home", "/", id: "home-link" %> -->
          <li>
           <%= link_to "Passengers", passengers_path%>
         </li>
         <li>
          <%= link_to "Drivers", drivers_path%>
         </li>
         <li>
           <a href="<%= new_passenger_path%>">
             Add a passenger
           </a>
         </li>
         <li>
           <a href="<%=new_driver_path%>">
             Add a driver 
           </a>
         </li>
        </ul>
      </nav>
    </header>
<main>
    <%= yield %>
</main>
  </body>
</html>




  <!-- <body>

    <main>
      <%# yield %>
    </main>
  </body>
</html> -->
