<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="welcome-header">
    <h1>F.A.S.T.</h1>
    <h2>Friendly and Stylish Transportation</h2>
  </header>

  <body>
    <%= yield %>
  </body>
  <footer class="copywrite">
    <p>Copyright(c) 2018</p>
  </footer>
</html>
